<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <nav th:replace="fragments :: nav-bar"></nav>

        <div class="card">
            <div class="card-header text-center">
                <h1 class="card-title">Advanced Search</h1>
            </div>
            <div class="card-body">
                <div class="w-50 mx-auto">
                    <form th:action="@{/results}" th:object="${searchForm}">
                        <h5>Search By:</h5>
                        <div class="form-group">
                            <div class="form-check form-check-inline" th:each="radioValue : ${singleSelectAllValues}">
                                <input class="form-check-input" name="searchBy"
                                       th:checked="${radioValue.key == 'searchTerm'}"
                                       th:id="${radioValue.key}"
                                       th:value="${radioValue.key}"
                                       type="radio"/>
                                <label class="form-check-label" th:for="${radioValue.key}"
                                       th:text="${radioValue.value}"></label>
                            </div>
                            <input class="form-control" th:field="*{name}"/>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                        <h5>Or Search By <a th:href="@{/searchbylists}">List</a></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>