<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <nav th:replace="fragments :: nav-bar"></nav>

        <div class="card">
            <div class="card-header text-center">
                <h1 class="card-title" th:text="${title}">Title</h1>
            </div>

            <div class="card-body">

                <div class="card w-25 mx-auto text-center">
                    <div class="card-body">

                        <form method="post" th:object="${user}" th:action="@{/adduser}">
                            <div class="form-group">
                                <input class="form-control" th:field="*{email}"
                                       placeholder="Email" type="email"/>
                                <span class="error" th:errors="*{email}"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" th:field="*{userName}"
                                       placeholder="Username"/>
                                <span class="error" th:errors="*{userName}"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" th:field="*{password}"
                                       placeholder="Password" type="password"/>
                                <span class="error" th:errors="*{password}"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="verifyPassword-field" name="verify"
                                       placeholder="Confirm Password" type="password"/>
                            </div>

                            <button type="submit" class="btn btn-success">Sign-Up</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>