<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container body-content">
<nav th:replace="fragments :: nav-bar"></nav>

<head>
    <title>User Home</title>
</head>

<div sec:authorize="isAuthenticated()">
    <div class="jumbotron">
        <h1 class="display-4">Hello, <span sec:authentication="principal.user.userName">User</span>!</h1>
        <p class="lead">This page is still a work in progress!</p>
        <hr class="my-4">
        <a role="button" class="btn btn-danger btn-sm" th:href="@{/logout}">Logout</a>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <h3>You will see this only if you are ADMIN</h3>
            <p>
                <a th:href="@{/admin}">Admin Home</a>
            </p>
        </div>
    </div>
</div>

</body>

</html>