html{
    position:relative;
    min-height: 100%;
}
body {
    padding-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
}

#map {height: 300px;}