<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<nav th:replace="fragments :: nav-bar"></nav>
<h1 th:text="${title}">Title</h1>
<form method="post" th:object="${playground}">
    <div>
        <label th:for="name">Name</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}"></span>
    </div>
    <div>
        <label th:for="description">Description</label>
        <input th:field="*{description}" />
        <span th:errors="*{description}"></span>
    </div>
    <div>
        <label th:for="address">Address</label>
        <input th:field="*{address}" />
        <span th:errors="*{address}"></span>
    </div>
    <input type="submit" value="Add Playground" />
</form>

</body>
</html>