<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head">

    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>

    <!-- BootstrapCND | CSS, jQuery, and JavaScript | Template used: bootswatch.com/Journal -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css"
          integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>

</head>

<body>

    <!-- Navigation Bar-->
    <nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a th:href="@{/}" class="navbar-brand">St. Louis Playground Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items-->
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search}" class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/list}" class="nav-link">Playgrounds</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/adduser}" class="nav-link">Sign up <span class="sr-only">(current)</span></a>
                </li>

                <li>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" class="nav-link">Logout</a>
                        <font color="#f5f5f5"><p>Welcome <span sec:authentication="principal.user.userName"></span></p></font>
                        <sec:authentication property="authenticateduser" />
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}"  class="nav-link">Login</a>
                        <font color="white"><p>Welcome Visitor</p></font>
                    </div>
                </li>



            </ul>
            <!-- Navbar Search form-->
            <form class="form-inline my-2 my-lg-0" th:object="${searchForm}" th:action="@{/results}" >
                <input class="form-control mr-sm-2" type="text" placeholder="Search" th:field="*{name}" />
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


</body>
</html>