<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <nav th:replace="fragments :: nav-bar"></nav>

        <div class="card">
            <div class="card-header">
                <h1 class="card-title text-center">Welcome to STL Playground Finder!</h1>
            </div>
            <div class="card-body">
                <div id="map"></div>

            </div>
        </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=ChangeThisGoogleKeyPlease&amp;callback=initMap"
            async="async" defer="defer"></script>

    <script th:inline="javascript">
        function initMap(){
            /*<![CDATA[*/

            loadMapFromArray(/*[[${list}]]*/);

            /*]]>*/
        }
    </script>

    <footer th:replace="fragments :: footer"></footer>
</body>
</html>