<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body>

<div class="container">
    <nav th:replace="fragments :: nav-bar"></nav>

    <div sec:authorize="isAnonymous()">

        <form action="home" th:action="@{/login}" method="post">
            <h1 th:text="${title}">Default Title</h1>

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="username"
                       placeholder="Email"/>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password"
                       placeholder="Password"/>
            </div>

            <div>
                <button type="submit"
                        th:text="#{label.login}">LogIn
                </button>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div th:if="${param.error}"
                         class="alert alert-danger alert-dismissable">
                        <p>
                            <i class="icon fa fa-ban"></i> <span
                                th:text="#{error.login_failed}">Invalid Email and
											Password.</span>
                        </p>
                    </div>
                    <div th:if="${param.logout}"
                         class="alert alert-info alert-dismissable">
                        <p>
                            <i class="icon fa fa-info"></i> <span
                                th:text="#{info.logout_success}">You have been logged
											out.</span>
                        </p>
                    </div>

                </div>

            </div>
        </form>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
