<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <nav th:replace="fragments :: nav-bar"></nav>

        <div class="card">
            <div class="card-header text-center">
                <h1 class="card-title">Advanced Search</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/results}" th:object="${searchForm}">
                    <h3>Search by term:</h3>

                    <div class="form-group">
                        <input class="form-control" th:field="*{name}" />
                    </div>

                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>