<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <!-- geocoding -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body class="container body-content">
        <!--Navigation Bar-->
        <nav th:replace="fragments :: nav-bar"></nav>

        <div class="card" th:if="${playground}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-header text-center">
                        <h1 id="playgroundName" class="card-title" th:text="${playground.name}">Playground Name</h1>
                        <h6 class="card-subtitle mb-2 text-muted">Address</h6>
                        <br> <br>
                        <div class="fb-like" data-href="http://localhost:8080/" data-width="" data-layout="standard" data-action="like"
                             data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-8">
                    <div class="card border-0">
                        <div id="carouselPlayground" class="carousel slide container" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="https://placeimg.com/640/480/arch" alt="First"/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Caption Title Test 1</h5>
                                        <p>Testing Caption</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://placeimg.com/640/480/tech" alt="Second"/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Caption Title Test 2</h5>
                                        <p>Testing Caption</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://placeimg.com/640/480/people" alt="Third"/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Caption Title Test 3</h5>
                                        <p>Testing Caption</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselPlaground" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselPlayground" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <table class="table table-sm table-striped">
                                <thead class="thead-dark text-center">
                                    <tr>
                                        <th scope="col" colspan="2">Equipment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Climbing Wall</th>
                                        <td>False</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Swing</th>
                                        <td>False</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ladders</th>
                                        <td>False</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Slides</th>
                                        <td>False</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Structures</th>
                                        <td>False</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">See-Saw</th>
                                        <td>False</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="map" style="width:80%; height:400px; margin-left: auto; margin-right: auto"></div>


                    <script>



                        function initMap() {

                            <!--set Map Options -->
                            var options = {
                                center: {lat: 38.6270, lng: -90.1994},
                                zoom: 9
                            };

                            <!--New map-->
                            var map = new google.maps.Map(document.getElementById('map'), options );

                            <!-- Call getLatLng-->
                            var latLng = getLatLng();
                            var lat = latLng[0];
                            var lng = latLng[1];


                            <!-- Add marker -->
                            var marker = new google.maps.Marker({
                                position : {lat: lat, lng: lng},
                                map : map,
                            });

                            <!-- Info window for marker -->
                            var info = document.getElementById('playgroundName').value;
                            var infoWindow = new google.maps.InfoWindow( {content:'<h4> ${info}</h4>'} );

                            marker.addListener('click', function(){
                                infoWindow.open(map,marker);
                            });
                        }


                        function getLatLng(){
                            var location = document.getElementById('playgroundName').value;
                            //var location = 'Chesterfield, St louis, Mo';
                            console.log(location);
                            axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                                params:{
                                    address:location,
                                    key:'AIzaSyC2jmqjcdqlm96ZPw0HSyDhXpdTC5qwazA'
                                }
                            })
                                .then(function(response){
                                    // Log full response
                                    console.log(response);

                                    // Geometry
                                    var lat = response.data.results[0].geometry.location.lat;
                                    var lng = response.data.results[0].geometry.location.lng;

                                    return [lat, lng]
                                })
                                .catch(function(error){
                                    console.log(error);
                                });
                        }

                    </script>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2jmqjcdqlm96ZPw0HSyDhXpdTC5qwazA&amp;callback=initMap"
                            async="async" defer="defer"></script>

                </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-8">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Playground Description</h5>
                            <p class="card-subtitle text-muted" th:text="${playground.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = 'http://localhost:8080/view/[[${playground.id}]]';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '[[${playground.id}]]'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://playground-viewer.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>