<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div class="container">
    <nav th:replace="fragments :: nav-bar"></nav>

    <div class="card">
        <div class="card-header text-center">
            <h1 class="card-title" th:text="${title}">Default Title</h1>
        </div>

        <div class="card-body">
            <div class="w-25 mx-auto border p-3">
                <form method="post" th:action="@{/remove}">
                    <div class="form-check" th:each="playground : ${playgrounds}">
                        <input class="form-check-input" type="checkbox" name="playgroundIds" th:value="${playground.id}" th:id="${playground.id}"/>
                        <label class="form-check-label" th:for="${playground.id}" th:text="${playground.name}"></label>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-danger">Remove Playground(s)</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>